<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of books">
            <th scope="row">{{a.id}}</th>
            <td>{{a.title}}</td>
            <td>{{a.author}}</td>
            <td>{{a.price}}</td>
            <td><button type="submit" routerLink="/addreview">Add Review</button></td>
            <td><button type="submit" routerLink="/viewreview">Read Review</button></td>
          </tr>
          
        </tbody>
      </table>
